* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

input[type="date"]::before { content: attr(data-placeholder); width: 100%; }
input[type="date"]:focus::before, input[type="date"]:valid::before { display: none; }

.logo {
	font-size:2em;
	display: inline-block;
  	vertical-align: middle;
  	margin-top: -15px;
}

.intro {
	background: url(images/hotel-1345074.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	/*min-height: 460px; */
	min-height: 260px;
}

.intro-login {
	font-size: 1.5em;
	width: 100%;
	background-color: rgba(51, 48, 45, 0.9);
	opacity: 50%;
	color: #FFFAF0;
	overflow: hidden;
	padding: 20px;
	margin: 0 auto;
	height: 300px;
	float:right;
}

.intro-registration {
	font-size: 1.5em;
	width: 100%;
	background-color: rgba(51, 48, 45, 0.9);
	opacity: 50%;
	color: #FFFAF0;
	overflow: hidden;
	padding: 20px;
	margin-top:-300px;
	min-height: 230px;
	float:left;
}
.cancel-icon {
	margin:0 auto;
	float:right;
	cursor:pointer;
}

.header-top {
	background: silver;
}

.navigation {
	float: right;
}

.navigation li {
	display: inline-block;
}

.navigation a {
	margin-left: 20px;
}

.util-container {
	width: 100%;
	background: #b3b3b3;
}


.main-form-div {
	padding-top:20px;
	padding-right:0px;
	padding-bottom:20px;
	padding-left:0px;
}

/*
.full-width {
	width: 100%; !important
}
*/


.city-image {

	height: 300px;
	width: 100%;
}

.icon-right-open-big {
	float: right;
}

footer {
	background-color: silver;
	min-height: 100px;
	margin-top: 100px;
}

/* Search.html */

.intro-search {
	background: url(images/resort-918952_1920.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	/*min-height: 460px; */
	min-height: 260px;
}

#myCarousel {
	margin:0 ;
}

.rezervation-steps {
	border:1px solid gray;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

.hotels-by-city-intro {
	background: url(images/zagreb1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	/*min-height: 460px; */
	min-height: 400px;
}

.intro1 {
	margin-top: 76px;
	background: url(images/hotel-1345074.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 460px;
}
